downloads/
__PS C:\eric\download> git add .                                               
PS C:\eric\download> git commit -m "download photo"                          
[main 95f4fcc] download photo                                                
 1 file changed, 37 insertions(+), 1 deletion(-)                             
PS C:\eric\download> git push                                                
fatal: The current branch main has no upstream branch.                       
To push the current branch and set the remote as upstream, use               

    git push --set-upstream origin main

To have this happen automatically for branches without a tracking
upstream, see 'push.autoSetupRemote' in 'git help config'.

PS C:\eric\download> ycache__/
*.pyc
*.xz
*.zip
*.exe
ffmpeg*/
.env
ffmpeg-8.1-essentials_build/
*.zip
*.exe